li {
  list-style: none;
  padding-top: 20px;
}
.Temp {
  font-size: 45px;
}

.units {
  position: relative;
  font-size: 16px;
  top: -16px;
}
.Date li {
  font-weight: bold;
}
.weather-container {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  margin: 20px 0;
  max-width: 630px;
  padding: 20px 16px 24px 16px;
}
